<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - MiBarbero</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"> 
</head>
<body>
   <a th:href="@{/home}" class="auth-top-logo">
    <img th:src="@{/images/logonofondo.png}" alt="MiBarbero Logo">
</a>

    <div class="auth-bg"></div>

    <main class="auth-container">
        <div class="login-box">
            <h2>Iniciar Sesión</h2>

            <div th:if="${exito}" class="alert-success" th:text="${exito}"></div>
            <div th:if="${error}" class="alert-error" th:text="${error}"></div>

            <form th:action="@{/login}" method="post">
                
                <div class="input-group">
                    <label for="identificador">Usuario o Correo</label>
                    <input type="text" name="identificador" placeholder="Ej: juanperez o juan@mail.com" required>
                </div>

                <div class="input-group">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" placeholder="••••••••" required>
                </div>

                <button type="submit" class="auth-submit">Ingresar</button>
            </form>

            <div class="login-or-divider">O</div>
            
            <button class="btn-google-login">
                <img src="https://authjs.dev/img/providers/google.svg" width="20" alt=""> 
                Continuar con Google
            </button>

            <div class="auth-note">
                <p>¿No tienes cuenta? <a th:href="@{/register}">Regístrate aquí</a></p>
            </div>
        </div>
    </main>
</body>
</html>